<head>
<style>
#topContent
{
margin-left: 2.5%;
margin-right: 2.5%;
margin-top: 5%;
padding-left: 2.5%;
padding-top: 2.5%;
padding-bottom: 2.5%;
border: 5px solid black;
background:#FFEFE7 ;
}
#bottomContent
{
margin-left: 2.5%;
margin-right: 2.5%;
margin-top: 5%;
padding-top: 2.5%;
padding-bottom: 2.5%;
border: 5px solid black;
background:#FFEFE7;
}
#restimg
{
margin-bottom: 2.5%;
}
#im
{
float: left;
height: 100px;
width: 100px;
}
#details
{
float: left;
margin-left: 10px;
padding-top: 1%;
font-size: 20px;
}
.review
{
margin-top: 1%;
margin-left: 1.5%;
margin-right: 1.5%;
}
#section
{
margin-top : 20px;
background :#FFEFE7;
width : 100%;
padding: 10px;
}
#descr
{
margin-top : 20px;
background : #FFD0B8;
margin-bottom: 20px;
height: 50px;
padding: 10px;
border: 1px solid #FF9933;
}
</style>

</head>

   
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
<div id="topContent" ng-controller="SecondCtrl">
    <div class="row">
        <div class="col-md-12">
            <div id="restimg">
            <img src="restpic.jpg" id="im"></div>
             <div id="details">
                     <b>{{message.name}},{{message.locality}}</b>
                     <br><i>Address:{{message.street_address}}</i>
                    <br><i>Phone:{{message.phone}}</i><br>
                   <button type="button" class="btn btn-default btn-lg" ng-click="addToFavorite()" ng-hide="successful"}}>
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Add to Favorite
                    </button> 
                    <div>{{likedBy}} users favorited it</div> 
                    </div>   
    <div ng-show="showModal">              
    <div id="loginModal1" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" ng-click="close()">×</button>
                <h1 class="text-center">Login</h1>
              </div>
            <div class="modal-body">
                <form class="form col-md-12 center-block">
                 <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Email" ng-model="email1" required>
                </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" placeholder="Password" ng-model="password1" required>
            </div>
            <div class="form-group">
             <button class="btn btn-primary btn-lg btn-block" ng-click="login(email1,password1)">Sign In</button>
              <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true"></button>
		  </div>	
      </div>
  </div>
  </div>
</div>
</div>                      
             </div>
            </div>
        </div>
    
          
  <div  id="bottomContent" ng-controller="ReviewController as reviewCtrl">  
     <div class="row">
        <div class="col-md-12"> 
           <tabset>
             <tab heading="Reviews"> 
                <div class="review" ng-repeat="review in reviews">
                <blockquote>
                <rating ng-model="review.rating" readonly="true"></rating>
                  <br>
                  {{review.content}}
                  <cite class="clearfix">—<a ui-sref="userProfile({userID:review.user_id})">{{review.user_id }} On {{review.createdOn | date}}</cite>
                </blockquote>   
                </div>      
<div ng-show="showModal">              
    <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" ng-click="hide()";>×</button>
                <h1 class="text-center">Login</h1>
              </div>
            <div class="modal-body">
                <form class="form col-md-12 center-block">
                 <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Email" ng-model="email" required>
                </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" placeholder="Password" ng-model="password" required>
            </div>
            <div class="form-group">
             <button class="btn btn-primary btn-lg btn-block" ng-click="ok(email,password)">Sign In</button>
              <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true"></button>
		  </div>	
      </div>
  </div>
  </div>
</div>
</div>       
 <form name="reviewForm"  ng-submit="addReview(content,rating)">
              <!--  Live Preview -->
              <blockquote >
                <strong>{{rating}} Stars</strong>
                {{content}}
              </blockquote>



              <!--  Review Form -->
              <h4>Submit a Review</h4>

              <fieldset class="form-group">
                <alert ng-repeat="alert in alerts" type="success">"You have successfully added an review"</alert>
                <rating ng-model="rating" max="5" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" ></rating>
              </fieldset>
              <fieldset class="form-group">
                <textarea ng-model="content" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
              </fieldset>
            </form>
            </tab>
            <tab heading="Menu">
            <div  id="section" ng-repeat="item in sections">
            {{item.section_name}}
            <div ng-repeat="child in item.subsections">
                <div id="descr" ng-repeat="gch in child.contents">{{gch.description}} : {{gch.price}}
                </div>
            </div>
            </div>
            </tab>
            </tabset>
            </div>
            </div>
            </div>
                
                    
                     
                   

